<div id="right-panel" class="panel-open">
    <div class="jackpot-banner-b">
        <a href="/coinflip">
            <img src="/img/free-flip.png">
        </a>
    </div>
    <div id="chatWindow" style="height: calc(90% - 75px);">
        <div id="chatStatus">
            <div class="statusLine pull-left"></div>
            <div id="minimize-chat" class="pull-right">
                <i class="fa fa-minus"></i>
            </div>
        </div>
        <div id="chat-ctn">
            <div id="chatMessages"></div>
            <div id="chatActions">
                <input id="chatInput" type="text" placeholder="Your text here...." class="form-control">
                <button id="chatSendBtn" class="btn btn-info">send</button>
                <button id="chatEmotsBtn" data-toggle="popover" data-trigger="focus" class="btn btn-info">
                    <i class="fa fa-smile-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>