<div id="main-content-small">
    <div class="container">
        <h1><%- (error.code === 404 ? "<i class=\"fa fa-times\"></i> " : "") + error.title %></h1>
        <p><%= error.message %></p>
    </div>
</div>