<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>How it works ?</h2>
                <p>Players deposit skins in a round. Once the number of required skins is reached, a winner will be picked based on the number of tickets his deposit represents and
                    will be awarded all the skins in the pot !</p>
                <p>For every 0.01 bet value a player will get 1 ticket, so a higher number of tickets means a better % of winning !</p>
                <h2>How to play ?</h2>
                <ul>
                    <li>Login with your steam account</li>
                    <li>Set your trade link by editing your profile url
                        <a href="/edit-profile">here.</a>This is a necessary step to receive the item you wins.
                    </li>
                    <li>Click on the "Deposit" button to open a trade and chose the items you want to enter the round with.</li>
                    <li>Verify the total value of your bet and confirm to enter the current round.</li>
                    <li>Once the item threshold of 50 items is reached, the winner will be announced.</li>
                    <li>If you won, you will receive all the items in the pot as a steam trade offer.</li>
                </ul>
            </div>
        </div>
    </div>
</div>