<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="https://gleam.io/KNiPv/butterfly-fade-fn" rel="nofollow" class="e-widget no-button">CSGOHunt.com - Butterfly Knife Fade Giveaway</a>
            </div>
        </div>
    </div>
</div>