<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Tems and conditions of use</h1>
                <h2>Legal Notice</h2>
                <p>The terms and conditions set out below (the “Terms and Conditions”) apply to and govern any services used by you (“you”, the “user”) and marketed by us under the
                    brand name ‘CSGOHunt including any services provided through any website with a domain name ending ‘CSGOHunt.com’ (the “Website”), and to any email and other
                    correspondence between us relating to such a service.</p>
                <p>CSGOHunt is for entertainment purposes only, no real money is exchanged on our platform.
                    Therefore players participate in bets with virtual items of artificial value in a closed gaming system. CSGOHunt does not offer an opportunity to win real
                    money.</p>
                <p>You must be at least 18 years old to play on csgohunt.com.</p>
                <p>Usage of our site, CSGOHunt.com and its services constitute your acceptance of this agreement.</p>
                <p>If you do not agree to any of these stipulations please leave the site immediately.</p>
                <p>By participating in CSGOHunt.com you agree that you are not a resident of the United Kingdom.</p>
                <h2>Limitations of Liability</h2>
                <p>Use of our services is at your own risk. CSGOHunt.com, its owners and affiliates should / will never be held liable for any individual’s profits / loss gained on
                    CSGOHunt.com. CSGOHunt.com and it’s affiliates assume no responsibility for any missed bets or loss of virtual currency / items.</p>
                <h2>Virtual Currency</h2>
                <p>We give you the opportunity to exchange intangible items for CSGOHunt's virtual currency, coins. This virtual currency is not real money, nor does it hold any
                    monetary value and may never be redeemed for “real world” money, or other items of monetary value / inherent value. You acknowledge that CSGOHunt's virtual
                    currency is not redeemable for any sum of “real-world” money from us at any time. We make no guarantee and take no responsibility as to the nature, value, or
                    quality of the features of the Service or any third-party goods or services that will be accessible through the use of CSGOHunt's virtual currency.</p>
                <h2>Bet participation</h2>
                <p>CSGOHunt.com is intended for an adult audience and you must be 18 or older, of sound mind and capable of taking responsibility for your own actions.
                    CSGOHunt.com comes with no guarantees, expressed or implied, in connection with the service which is provided to you ‘as is’ and we provide you with no warranty
                    whatsoever regarding its quality, completeness or accuracy. As such, CSGOHunt.com cannot be held responsible in any event, direct, indirect or consequential
                    with the use of the website.
                    CSGOHunt.com reserves the right to suspend and/or cancel any bet/wager at any time. When a platform is suspended, any bets entered will be on hold. CSGOHunt.com
                    also reserves the right to cease betting at any time without notice.</p>
                <h2>Deposit, withdraw or lost items</h2>
                <p>If any loss occur during a bet caused by a software or network issue, you have 7 days to make a claim by opening a ticket at support.csgohunt.com, after which
                    these items will be considered surrendered. We strongly encourage you to withdraw your winning as soon as possible to avoid any issues.
                    Keep in mind that the items you get after winning a round may not be the same as the one you deposit, meaning that stickers and nametag may be lost. However the
                    total value won will stay the same. For every round played on CSGOHunt.com, a commission of approximatly 5% will be taken. It is calculated on the total pot
                    value and is taken from the items pool.</p>
                <h2>Content</h2>
                <p>The content of the pages of this website is for your general information and use only. It is subject to change without notice. This website contains material
                    which is owned by us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in
                    accordance with the copyright notice, which forms part of these terms and conditions.</p>
                <h2>Affiliation</h2>
                <p>CSGOHunt.com is in NO way affiliated with Valve Corporation, Counter-Strike Global Offensive or any other trademarks of the Valve Corporation.</p>
            </div>
        </div>
    </div>
</div>